.ab__title {
  font-family: Cormorant;
  font-size: 60px;
  font-weight: 400;
  line-height: 91.87px;
  letter-spacing: -0.005em;
  color: rgba(143, 110, 81, 1);
  text-align: center;
  text-transform: uppercase;
}

.ab__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px 40px 0px 40px;
  gap: 30px;
  margin: 0;
  list-style: none;
  justify-items: center;
}

.ab__card {
  max-width: 413px;
}

.ab__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.ab__header {
  font-family: Cormorant;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.6px;
  letter-spacing: -0.005em;
  text-align: center;
  border-bottom: 1px solid rgba(143, 110, 81, 1);
  padding-bottom: 10px;
  color: rgba(143, 110, 81, 1);
  margin-bottom: 0;
}

.ab__text {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  letter-spacing: -0.005em;
  margin: 0;
  color:rgba(0, 0, 0, 0.58);
}

.ab__padding {
  padding-bottom: 200px;
}

.ab__text_black_p {
  padding-top: 10px;
}


.ab__header_margin {
  margin: 0;
  padding-bottom: 5px;
  
}

.ab__text_black {
  font-family: Cormorant;
  font-size: 28px;
  font-weight: 700;
  line-height: 29.06px;
  color:rgba(0, 0, 0, 0.58);
  margin: 0;
}

.ab__img {
  width: 100%;
  object-fit: cover;
}

.ab__content_cont {
  height: 790px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ab__contact {
  font-size: 25px;
  text-align: center;
}

@media (max-width: 1380px) {
  .ab__cards {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
  .ab__card {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ab__title {
    font-size: 35px;
  }
  
  .ab__text_p {
    padding-bottom: 100px;
  }
}

@media (max-width: 950px) {
  .ab__cards {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
  .ab__card {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ab__title {
    font-size: 35px;
  }
  .ab__content_cont {
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .ab__padding {
    padding-bottom: 0px;
  }
  .ab__text_p {
    padding: 0px;
  }
}

@media (max-width: 750px) {
 
  .ab__content_cont {
    height: 750px;
    
  }
}